.evaluateAPI{
    display: flex;
    padding-bottom: 5%;
    .left{
        width: 100%;
    }
    .rightModal{
        width: 25%;
        .modalHeading{
            display: flex;
            justify-content: space-around;
            .closeBotton{
                cursor: pointer;
                border: none;
                background: transparent;
            }
        }
        
        .heading{
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: #292A31;
        }
        .detailtext{
            font-size: 12px;
            line-height: 20px;
            color: #292A31;
        }
    }
}