.Congratulation {
    padding: 0 150px;
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 52px;
            /* identical to box height, or 116% */
            margin-bottom: 12px;
            margin-top: 71px;
            /* Grey/100 */

            color: #292a31;
        }
        span {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
            /* identical to box height */
            color: #000000;
        }
        button {
            margin-top: 32px !important;
            margin-bottom: 77px !important;
        }
    }
    .nextModule {
        padding: 0px 0.75rem;
        span {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 350;
            font-size: 22px;
            line-height: 37px;
            /* identical to box height, or 168% */

            color: #000000;
        }
    }
    .nextModuleDetail {
        margin-top: 20px !important;
        height: 205px;
        display: flex;
        background: #ffffff;
        border: 1px solid #d2d2d6;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 40px;
        .defination {
            width: 60%;
            border-right: 1px solid #d5d5e0;
            img {
                margin-right: 20px;
            }
            h3 {
                font-family: "CiscoSans";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                /* identical to box height, or 167% */

                /* Gray / 80 */
                margin-bottom: 10px;

                color: #3a3a44;
            }
            p {
                font-family: "CiscoSans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                /* or 157% */

                /* Gray / 60 */
                margin-bottom: 20px;

                color: #5a5b6a;
            }
        }
        .whatYouGet {
            padding-left: 78px;
            padding-top: 10px;
            padding-bottom: 10px;
            h3 {
                font-family: "CiscoSans";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                /* identical to box height, or 157% */

                /* Gray / 80 */

                color: #3a3a44;
                margin-bottom: 14px;
            }
            ul {
                padding-left: 18px;
            }
            ul li {
                font-family: "CiscoSans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                /* identical to box height, or 157% */

                /* Grey/70 */

                color: #5a5b6a;
                margin-bottom: 7px;
            }
        }
    }
    .expolreUseCase {
        h3 {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 350;
            font-size: 22px;
            line-height: 37px;
            /* identical to box height, or 168% */

            color: #000000;
            margin-bottom: 20px;
        }
        .cardsHeading {
            padding: 0px 0.75rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            .viewAllModules {
                color: #007aa3;
                text-decoration: none;
            }
        }
        .cards {
            .API_Security {
                margin-bottom: 30px;
                h2 {
                    font-family: "CiscoSans";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */
                    padding: 0 0.75rem;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.15px;

                    /* Neutral/900 */
                    margin-bottom: 15px;
                    color: #484851;
                }
                .api_sec_box {
                    box-sizing: border-box;
                    padding: 11px 24px;
                    gap: 10px;
                    width: 100%;
                    background: #ffffff;
                    border: 1px solid #e1e1e3;
                    border-radius: 12px;
                    img {
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-family: "CiscoSans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        color: #3a3a44;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: "CiscoSans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #5a5b6a;
                        margin-bottom: 5px;
                    }
                    span {
                        font-family: "CiscoSans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #9696a0;
                        margin-bottom: 10px !important;
                    }
                    button {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border: 0;
                        background: none;
                        font-family: "CiscoSans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        cursor: pointer;
                        line-height: 22px;
                        color: #007aa3;
                        margin-top: 10px;
                    }
                    button span {
                        color: #007aa3;
                        margin-bottom: 0 !important;
                    }
                    button img {
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}
