
.subHeader {
  display: flex;
  padding-left: 3%;
  height: 62px;
  align-items: center;
  background: #f9f9fa;
}

.subHeaderFirst {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #292a31;
}

.subHederSecond {
  width: 50%;
  display: flex;
}

.helpButton {
  cursor: pointer;
  border: none;
  background: transparent;
}
