
.instantPOV{
  .heading {
    display: flex;
    font-family: "CiscoSans";
    padding: 2% 5%;
    align-items: center;
    background: rgba(47, 47, 87, 0.05);
    .backButton {
      border: none;
      background: transparent;
      color: #007aa3;
      display: flex;
      cursor: pointer;
      width: -webkit-fill-available;
      span {
        padding-left: 1%;
      }
    }
    .title {
      font-size: 37px;
      line-height: 66px;
      color: #484851;
    }
    .titleDetail {
      font-size: 18px;
      margin: 0;
      line-height: 30px;
      color: #484851;
    }
    .text {
      width: 60%;
    }
    .securityIcon {
      margin-left: 27%;
      height: 106px;
    }
  }

}