.slider-wrapper{
    margin-top: 3%;
    width: 90%;
    margin-left: 30px;
  }
  .slider-steps {
    top:40px;
    display: flex;
    justify-content: space-between;
    margin: -21px 96px 0 8%;
  }
  .slider-steps .points{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative
  }
  .slider-steps .points .title{
      position: absolute;
      bottom: -80%;
      width: max-content;
  }
  .slider-step {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .slider-step.completed {
    background-color: #4caf50;
    color: #fff;
  }
  .slider-step.inprogress {
    background-color: #5494FF;
    color: #fff;
  }
  