@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Heavy.ttf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
}
//header css started
.header {
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  padding-left: 2%;
  align-items: center;
  height: 60px;
  background: #ffffff;
  .headerTitle {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    .headerText1 {
      font-size: 18px;
      line-height: 25px;
      align-items: center;
      color: #133774;
    }
    .headerText2 {
      font-size: 12px;
      line-height: 16px;
      align-items: center;
      color: #133774;
    }
  }
  .headerLogo {
    width: 34px;
    height: 34px;
  }
}
//header css ended

//Subheader css started
.subHeader {
  display: flex;
  padding-left: 3%;
  height: 62px;
  align-items: center;
  background: #f9f9fa;
  .subHeaderFirst {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #292a31;
  }
  .subHederSecond {
    width: 50%;
    display: flex;
    .helpButton {
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }
}
//Subheader css ended

// Academy Css Started
.container_One {
  max-width: 1580px;
  margin: 0px auto;
  padding: 27px 0px;
  padding-bottom: 15px;

  span.d-flex-center-flex-start {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #007aa3;
    margin-bottom: 15px;
  }

  .d-flex-center-flex-start {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    justify-content: flex-start;
  }
  .mein_heading {
    margin-bottom: 48px;
  }
  .mein_heading h1 {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 66px;
    color: #000000;
    margin: 0;
  }
  .mein_heading p {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 0;
    width: 90%;
  }
  .Secc_Box {
    margin-bottom: 40px;
    p.p-1 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #292a31;
      margin-bottom: 15px;
    }

    .evaluate_box {
      display: flex;

      background: linear-gradient(0deg, rgba(49, 102, 220, 0.05), rgba(49, 102, 220, 0.05)), #fafbfe;
      border: 1px solid #2979ff;
      border-radius: 12px;
      padding: 24px 40px;
    }
    .evaluate_box .evaluate_box img {
      margin-bottom: 14px;
    }
    .evaluate_box .evaluate_text h2 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 54px;
      color: #3a3a44;
    }
    .evaluate_box .evaluate_text p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #5a5b6a;
      margin-bottom: 10px;
    }
    .evaluate_text span {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #70707e;
    }
    .module_box {
      padding-left: 64px;
    }
    .module_box h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 14px;
      color: #000000;
    }
    .module_box ul {
      padding-left: 20px;
    }
    .module_box ul li {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #5a5b6a;
      margin-bottom: 7px;
    }
  }

  .common-p {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #292a31;
    margin-bottom: 15px;
  }
  .common-p .flex-boxing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .flex-boxing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .last_box {
    margin-bottom: 32px;
  }
   .selectedModule{
    border: 2px solid #007AA3 !important;
    color: #007AA3 !important;
    img{
      filter: opacity(0.5) drop-shadow(0 0 0 #007AA3) drop-shadow(0 0 0 #007AA3) ;
    }
   }
  .industry_box {
    width: 160px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    color: rgba(18, 18, 63, 0.87);
    border: 1px solid #d2d2d6;
    border-radius: 10px;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .Table_Right_side {
    padding-left: 10px;
    h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #292a31;
      padding: 10px 22px;
      margin-bottom: 5px;
    }
  }
  .Common-btn {
    display: flex;
    gap: 20px;
  }
}
// Academy Css End





//stepper css started
.slider-wrapper{
  margin-top: 3%;
  width: 90%;
  margin-left: 30px;
  .slider-steps {
    top:40px;
    display: flex;
    justify-content: space-between;
    margin: -21px 96px 0 8%;
    .points{
      display: flex;
      flex-direction: column;
      align-items: center;
      position:relative;
      .title{
        position: absolute;
        bottom: -80%;
        width: max-content;
    }
    }
  }
  .slider-step {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    &.completed {
      background-color: #4caf50;
      color: #fff;
    }
    &.inprogress {
      background-color: #5494FF;
      color: #fff;
    }
  }
}
// stepper css ended
// Gobals Css
.container {
  max-width: 1580px;
  margin: 0 auto;
}
.border-left-1 {
  border-left: 1px solid #e7e7e7;
}
.transition-rotate {
  transition: transform 0.3s ease;
}

.rotate-90 {
  transform: rotate(90deg);
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justfy-center {
  justify-content: center;
}
.row {
  display: flex;
}
.col-md-8 {
  padding: 0px 0.75rem;
  width: 80%;
}
.col-md-7 {
  padding: 0px 0.75rem;
  width: 60%;
}
.col-md-5 {
  padding: 0px 0.75rem;
  width: 40%;
}
.col-md-4 {
  width: calc(100% - 80%);
  padding: 0px 0.75rem;
}
.col-12 {
  width: 100%;
}
.w-80 {
  width: 80%;
}

// accordion section

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #fff;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "CiscoSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  /* Gray / 90 */

  color: #292a31;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  padding: 10px 28px;
  /* Text + Icon/primary */

  color: rgba(18, 18, 63, 0.87);
}
.accordion__subtitle {
  font-family: "CiscoSans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  /* identical to box height, or 200% */

  /* Gray / 60 */

  color: #5a5b6a;
}
//footer css started
.footer {
  display: flex;
  padding: 1% 3%;
  align-items: center;
  background:  #0D274D;
  justify-content: flex-end;
  .backButton {
    height: 38px;
    cursor: pointer;
    background: #0D274D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color:white;
    padding:0 3%;
  }
  .nextButton {
    padding:0 3%;
    cursor: pointer;
    color: #f7f7f7;
    margin-left: 1%;
    height: 38px;
    border: none;
    background: #007aa3;
    border-radius: 30px;
  }
}
//footer css ended