@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "CiscoSans";
  src: url(./assets/Fonts/CiscoSans-Heavy.ttf);
  font-weight: 800;
}

* {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//header css started
.header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  padding-left: 2%;
  align-items: center;
  height: 60px;
  background: #ffffff;
  .headerTitle {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    .headerText1 {
      font-size: 18px;
      line-height: 25px;
      align-items: center;
      color: #133774;
    }
    .headerText2 {
      font-size: 12px;
      line-height: 16px;
      align-items: center;
      color: #133774;
    }
  }
  .headerLogo {
    width: 34px;
    height: 34px;
  }
}
//header css ended

//Subheader css started
.subHeader {
  display: flex;
  padding-left: 3%;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  background: #f9f9fa;
  .subHeaderFirst {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #292a31;
  }
  .subHederSecond {
    width: 50%;
    gap: 16px;
    margin-right: 32px;
    display: flex;
    justify-content: flex-end;
    .helpButton {
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }
}
//Subheader css ended

// Academy Css Started
.container_One {
  max-width: 1580px;
  margin: 0px auto;
  padding: 27px 0px 0 92px;
  padding-bottom: 15px;

  span.d-flex-center-flex-start {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #007aa3;
    margin-bottom: 15px;
  }

  .d-flex-center-flex-start {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    justify-content: flex-start;
  }
  .mein_heading {
    margin-bottom: 48px;
  }
  .mein_heading h1 {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 66px;
    color: #000000;
    margin: 0;
  }
  .mein_heading p {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 0;
    width: 90%;
  }
  .Secc_Box {
    margin-bottom: 40px;
    p.p-1 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #292a31;
      margin-bottom: 15px;
    }

    .evaluate_box {
      display: flex;

      background: linear-gradient(0deg, rgba(49, 102, 220, 0.05), rgba(49, 102, 220, 0.05)), #fafbfe;
      border: 1px solid #2979ff;
      border-radius: 12px;
      padding: 24px 40px;
    }
    .evaluate_box .evaluate_box img {
      margin-bottom: 14px;
    }
    .evaluate_box .evaluate_text h2 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 54px;
      color: #3a3a44;
    }
    .evaluate_box .evaluate_text p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #5a5b6a;
      margin-bottom: 10px;
    }
    .evaluate_text span {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #70707e;
    }
    .module_box {
      padding-left: 64px;
    }
    .module_box h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 14px;
      color: #000000;
    }
    .module_box ul {
      padding-left: 20px;
    }
    .module_box ul li {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #5a5b6a;
      margin-bottom: 7px;
    }
  }

  .common-p {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #292a31;
    margin-bottom: 15px;
  }
  .common-p .flex-boxing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .flex-boxing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .last_box {
    margin-bottom: 32px;
  }
  .selectedModule {
    border: 2px solid #007aa3 !important;
    color: #007aa3 !important;
    img {
      filter: opacity(0.5) drop-shadow(0 0 0 #007aa3) drop-shadow(0 0 0 #007aa3);
    }
  }
  .industry_box {
    width: 160px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    color: rgba(18, 18, 63, 0.87);
    border: 1px solid #d2d2d6;
    border-radius: 10px;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .Table_Right_side {
    padding-left: 10px;
    h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #292a31;
      padding: 10px 22px;
      margin-bottom: 5px;
    }
  }
  .Common-btn {
    display: flex;
    gap: 20px;
  }
}
// Academy Css End

// instantPOV started

.instantPOV {
  .heading .text {
    padding: 0 0.75rem;
  }
  .main {
    padding: 24px 50px;
    padding-right: 10px;

    .accordion {
      margin-bottom: 12px;
      align-items: center !important;
      padding-left: 0;
    }
    .d-flex-center-flex-start {
      display: flex;
      align-items: center;
    }
    .accordion__title {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #484851;
    }
    .accordion__text {
      padding: 0 !important;
      width: 100%;

      .filter_left {
        display: flex;
        margin-bottom: 20px;
      }
    }
  }
  .All_Modules .first_module_text {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */

    /* Gray / 90 */
    margin-bottom: 21px;

    color: #292a31;
  }
  .input-group {
    position: relative;
  }
  .All_Modules {
    padding: 0 0.75rem;
    width: 398px;
    margin-bottom: 39px;
  }
  .All_Modules .input-group .form-input {
    padding: 10px 14px;
    width: 398px;
    background: #ffffff;
    border: 1px solid #b4b4bb;
    border-radius: 8px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    // color: #9696a0;
  }
  .search_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background: #fff;
    cursor: pointer;
  }
  .Kubernetes_box {
    h2 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.15px;

      /* Neutral/900 */
      margin-bottom: 15px;
      color: #484851;
    }
  }
  .API_Security {
    margin-bottom: 30px;
    h2 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.15px;

      /* Neutral/900 */
      margin-bottom: 15px;
      color: #484851;
    }
    .api_sec_box {
      box-sizing: border-box;
      padding: 11px 24px;
      gap: 10px;
      width: 100%;
      background: #ffffff;
      border: 1px solid #e1e1e3;
      border-radius: 12px;
      img {
        margin-bottom: 10px;
      }
      h3 {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #3a3a44;
        margin-bottom: 5px;
      }
      p {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #5a5b6a;
        margin-bottom: 5px;
      }
      span {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #9696a0;
        margin-bottom: 10px !important;
      }
      button {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 0;
        background: none;
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        line-height: 22px;
        color: #007aa3;
        margin-top: 10px;
      }
      button span {
        color: #007aa3;
        margin-bottom: 0 !important;
      }
      button img {
        margin: 0 !important;
      }
    }
  }

  .backButton {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Cisco/Primary Blue */
    margin-bottom: 9px;
    color: #007aa3;
  }
  .heading {
    margin-bottom: 37px;

    display: flex;
    font-family: "CiscoSans";
    padding: 24px 50px;
    align-items: center;
    background: rgba(47, 47, 87, 0.05);
    .backButton {
      border: none;
      background: transparent;
      color: #007aa3;
      display: flex;
      cursor: pointer;
      width: -webkit-fill-available;
      span {
        padding-left: 1%;
      }
    }
    .title {
      font-size: 37px;
      line-height: 66px;
      color: #484851;
    }
    .titleDetail {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      display: flex;
      align-items: center;

      /* Neutral/900 */

      color: #484851;
    }
    .text {
      width: 60%;
    }
    .securityIcon {
      margin-left: 27%;
      height: 106px;
    }
  }
}

// instantPOV ended

//congratulation css started
.Congratulation {
  padding: 0 150px;
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 52px;
      /* identical to box height, or 116% */
      margin-bottom: 12px;
      margin-top: 71px;
      /* Grey/100 */

      color: #292a31;
    }
    span {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 41px;
      /* identical to box height */
      color: #000000;
    }
    button {
      margin-top: 32px !important;
      margin-bottom: 77px !important;
    }
  }
  .nextModule {
    padding: 0px 0.75rem;
    span {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 350;
      font-size: 22px;
      line-height: 37px;
      /* identical to box height, or 168% */

      color: #000000;
    }
  }
  .nextModuleDetail {
    margin-top: 20px !important;
    // height: 205px;
    display: flex;
    background: #ffffff;
    border: 1px solid #d2d2d6;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 40px;
    .defination {
      width: 60%;
      align-items: flex-start;
      border-right: 1px solid #d5d5e0;
      img {
        margin-right: 20px;
      }
      h3 {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */

        /* Gray / 80 */
        margin-bottom: 10px;

        color: #3a3a44;
      }
      p {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */

        /* Gray / 60 */
        margin-bottom: 20px;

        color: #5a5b6a;
      }
    }
    .whatYouGet {
      padding-left: 78px;
      padding-top: 10px;
      padding-bottom: 10px;
      h3 {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        /* Gray / 80 */

        color: #3a3a44;
        margin-bottom: 14px;
      }
      ul {
        padding-left: 18px;
      }
      ul li {
        font-family: "CiscoSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        /* Grey/70 */

        color: #5a5b6a;
        margin-bottom: 7px;
      }
    }
  }
  .expolreUseCase {
    h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 350;
      font-size: 22px;
      line-height: 37px;
      /* identical to box height, or 168% */

      color: #000000;
      margin-bottom: 20px;
    }
    .cardsHeading {
      padding: 0px 0.75rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      .viewAllModules {
        color: #007aa3;
        text-decoration: none;
      }
    }
    .cards {
      .API_Security {
        margin-bottom: 30px;
        h2 {
          font-family: "CiscoSans";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */
          padding: 0 0.75rem;
          display: flex;
          align-items: center;
          letter-spacing: 0.15px;

          /* Neutral/900 */
          margin-bottom: 15px;
          color: #484851;
        }
        .api_sec_box {
          box-sizing: border-box;
          padding: 11px 24px;
          gap: 10px;
          width: 100%;
          background: #ffffff;
          border: 1px solid #e1e1e3;
          border-radius: 12px;
          img {
            margin-bottom: 10px;
          }
          h3 {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #3a3a44;
            margin-bottom: 5px;
          }
          p {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #5a5b6a;
            margin-bottom: 5px;
          }
          span {
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #9696a0;
            margin-bottom: 10px !important;
          }
          button {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 0;
            background: none;
            font-family: "CiscoSans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            color: #007aa3;
            margin-top: 10px;
          }
          button span {
            color: #007aa3;
            margin-bottom: 0 !important;
          }
          button img {
            margin: 0 !important;
          }
        }
      }
    }
  }
}
// finish

.float_card_overlay {
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 12px 18px;
  gap: 12px;

  position: absolute;
  width: 423px;
  height: 110.29px;
  left: -435px;
  top: 210px;

  background: #feeed7;
  /* Neutral/800 */

  border: 1px dashed #5a5a65;
  border-radius: 6px;
}
.lin-horizontal {
  width: 8%;
  height: 1px;
  right: -12px;
  bottom: 178px;
  border-top: 1px dotted #000;
  position: absolute;
}
.lin-horizontal::after {
  content: "";
  position: absolute;
  right: -9px;
  top: -8px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #000;
}
.float_card_overlay::before {
  content: "";
  position: absolute;
  width: 1px;
  right: 20px;
  bottom: 108px;
  height: 66%;
  border-left: 1px dotted #000;
}
.float_card_overlay-2 {
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 12px 18px;
  gap: 12px;

  position: absolute;
  width: 423px;
  height: 110.29px;
  left: -435px;
  top: 210px;

  background: #feeed7;
  /* Neutral/800 */

  border: 1px dashed #5a5a65;
  border-radius: 6px;
  .lin-horizontal {
    top: 15px;
    right: -13px;
    width: 3%;
  }
}
.finish .right_side_txt_box .API_boxes {
  width: 100% !important;
  left: 3%;
  .main-box {
    align-items: flex-start;
  }
  .text-area-box {
    h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #16263f;
      margin-bottom: 2px;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 350;
      font-size: 18px;
      line-height: 26px;
      color: #16263f;
      /* or 144% */
      margin: 0;
    }
  }
}
.finish .finish-step {
  .boxWithAcc {
    width: 100%;
    h1 {
      margin-top: 10px !important;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800 !important;
      font-size: 14px !important;
      line-height: 15px;
      /* or 108% */
      margin: 0;
      letter-spacing: 0.0025em;

      /* Neutral/900 */

      color: #484851 !important;
    }
    .accordion__section {
      padding-top: 10px;
    }
    .accordion {
      display: flex;
      align-items: center;
      padding-left: 0;
      img {
        width: 20px;
      }
      p {
        margin: 0;
      }
      .d-flex-center-flex-start {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .frst-chd {
    width: 100%;
    justify-content: space-between;
  }
  h1 {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 700;
    font-size: 11.6668px !important;
    line-height: 14px !important;
    display: flex;
    align-items: center;
    color: #33343a !important;
  }
}

// finish step end

// home_Div

.home_Div {
  background: linear-gradient(90deg, #fff1d6 0%, #fdc68b 100%);
  width: 100%;
  height: 550px;
  .row {
    align-items: center;
  }
  .padding-tops {
    justify-content: center;
    padding-top: 60px;
  }
  .api_sec_box {
    box-sizing: border-box;
    padding: 11px 24px;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #e1e1e3;
    border-radius: 12px;
    img {
      margin-bottom: 10px;
    }
    h3 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #3a3a44;
      margin-bottom: 5px;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #5a5b6a;
      margin-bottom: 5px;
    }
    span {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #9696a0;
      margin-bottom: 10px !important;
    }
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: 0;
      background: none;
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      line-height: 22px;
      color: #007aa3;
      margin-top: 10px;
    }
    button span {
      color: #007aa3;
      margin-bottom: 0 !important;
    }
    button img {
      margin: 0 !important;
    }
  }
  h1 {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 54px;
    /* or 186% */

    text-align: center;

    /* Gray / 90 */

    color: #292a31;
    margin-bottom: 10px;
  }
  h4 {
    width: 100%;
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    margin-bottom: 30px;
    text-align: center;

    /* Gray / 90 */

    color: #292a31;
  }
}
// home_Div ended

//congratulation css ended
// checkbox
.filter_left {
  display: flex;
  align-items: center;
  gap: 12px;

  .checkbox-1 {
    border: 2px solid #12123f99;
    border-radius: 4px;
    width: 21px;
    height: 21px;
    cursor: pointer;
  }
  p {
    font-family: "CiscoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #484851;
  }
}
// checkbox ended

//stepper css started
.slider-wrapper {
  margin-top: 3%;
  width: 90%;
  margin-left: 30px;
  .slider-steps {
    top: 40px;
    display: flex;
    justify-content: space-between;
    margin: -21px 96px 0 8%;
    .points {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .title {
        position: absolute;
        bottom: -80%;
        width: max-content;
      }
    }
  }
  .slider-step {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    &.completed {
      background-color: #4caf50;
      color: #fff;
    }
    &.inprogress {
      background-color: #5494ff;
      color: #fff;
    }
  }
}
// stepper css ended

// evaluateSecurity
.evaluateSecurity {
  padding: 6%;
  padding-top: 127px !important;
  .main-image {
    display: flex;
    justify-content: center;
  }
}

// evaluateSecurity end

// chooseAPI started

.chooseAPI {
  padding: 6%;
  .left_side_txt {
    padding-right: calc(82px - 12px);
    height: 100%;
    h1 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 54px;
      /* identical to box height, or 186% */

      color: #000000;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      /* or 157% */

      /* Gray / 90 */

      color: #292a31;
    }
  }
  .right_side_txt_box {
    h1 {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      /* identical to box height, or 167% */

      color: #000000;
    }
    p {
      font-family: "CiscoSans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */

      /* Gray / 90 */

      color: #292a31;
      margin-bottom: 35px;
    }
    .WindowBox {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
    }
    .API_boxes {
      position: absolute;
      width: 60%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .api_card_box {
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 22.7955px 15.4px 15px;
        gap: 8px;
        background: #ffffff;
        box-shadow: 0px 8.6602px 17.3204px rgba(0, 0, 0, 0.05);
        border-radius: 5.69887px;
        position: relative;
        &:hover {
          box-shadow: 0px 8.6602px 17px rgba(0, 0, 0, 0.2);
        }
        // &::before {
        //   content: "";
        //   position: absolute;
        //   width: 105%;
        //   height: 100%;
        //   top: 0;
        //   left: 0;
        //   z-index: -1;
        //   background: linear-gradient(86.04deg, #487ad7 0%, #4bccd0 100%), linear-gradient(0deg, #ffffff, #ffffff);
        // }
      }
      .first_text {
        display: flex;
        gap: 8px;
        h2 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          /* or 126% */

          letter-spacing: 0.0025em;

          /* Neutral/900 */

          color: #484851;
        }
      }
      .sec_text_box {
        gap: 8px;
        width: 100%;
        padding-bottom: 9.5px;
        margin-bottom: 1.5px;
        border-bottom: 0.529717px solid #e7e7ed;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .box {
          display: flex;
          flex-direction: column;
          p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 12px;
            /* identical to box height, or 133% */

            letter-spacing: 0.0025em;

            /* Grey/70 */
            margin-bottom: 3px;

            color: #5a5b6a;
          }
          span {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            /* identical to box height, or 120% */

            letter-spacing: 0.0025em;

            /* Neutral/900 */

            color: #484851;
          }
        }
      }
      .last_box_check {
        display: flex;
        justify-content: space-between;
        width: 50%;
        .line_ {
          width: 1px;
          border-left: 0.2px solid #e7e7ed;
        }
        .check_boxes_icon {
          display: flex;
          gap: 5px;

          p {
            margin: 0;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            /* identical to box height, or 120% */

            letter-spacing: 0.0025em;

            /* Neutral/900 */

            color: #484851;
          }
        }
      }
    }
  }
}

// chooseAPI ended

// Test Api

.secound_box {
  box-sizing: border-box;
  gap: 15px;
  align-items: flex-start;
  width: 100%;

  .left_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    .icon_boxes {
      display: flex;
      align-items: center;
      gap: 3.41px;
    }
    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      /* or 126% */

      margin-right: 10px;
      letter-spacing: 0.0025em;

      /* Neutral/900 */

      color: #484851;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 13px;
      /* identical to box height, or 144% */
      margin: 0;
      letter-spacing: 0.0025em;

      /* Grey/100 */

      color: #292a31;
    }
  }
  .sec_text-box {
    padding-right: 30px;
    padding-bottom: 13px;
    border-bottom: 1px dashed #e1e1e3;
    display: flex;
    justify-content: space-between;
    .active-one-text {
      background: rgba(84, 148, 255, 0.1);
      border: 1.5px solid #2979ff;
      border-radius: 6px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 40px;
    }
    .one-text {
      span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        /* identical to box height, or 133% */

        letter-spacing: 0.0025em;

        /* Grey/70 */

        color: #5a5b6a;
        margin-bottom: 5px;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height, or 120% */

        letter-spacing: 0.0025em;

        /* Neutral/900 */

        color: #484851;
      }
    }
  }
  .avtive-on-text {
    background: rgba(135, 199, 141, 0.2);
    border: 1.5px solid #87c289;
    border-radius: 6px;
    padding: 5px 7px;
    padding-top: 0;
  }

  .one-text-bottom {
    margin-top: 13px;
    .text-common_box-2 {
      gap: 10px;
      width: 100%;
      left: 22%;
      top: 113%;
      padding: 10px;
      background: #feeed7;
      border: 1px dashed #5a5a65;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.05), 0px 1.6px 3.6px rgba(0, 0, 0, 0.07);
      border-radius: 6px 6px;
      display: flex;
      transform: scale(50%);
      &::before {
        content: "";
        position: absolute;
        height: 388%;
        right: 20px;
        width: 1px;
        border-right: 1px dashed #000;
        bottom: 102%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 8%;
        right: 20px;
        /* top: 0; */
        height: 1px;
        border-top: 1px dashed #000;
        bottom: 489%;
      }
      .circel_line_bar-2 {
        width: 18px;
        position: absolute;
        right: 60px;
        bottom: 480%;
        height: 18px;
        background-color: #000;
        border-radius: 100%;
      }
      .class-txts {
        p {
          font-family: "CiscoSans";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 35px;
          background: linear-gradient(270deg, #16263f 34.66%, #283a54 98.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        h4 {
          font-family: "CiscoSans";
          font-style: normal;
          font-weight: 350;
          font-size: 18px;
          line-height: 26px;
          background: linear-gradient(270deg, #16263f 34.66%, #283a54 98.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    .text-common_box {
      gap: 10px;
      width: 100%;
      right: 85%;
      top: 53%;
      padding: 10px;
      background: #feeed7;
      border: 1px dashed #5a5a65;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.05), 0px 1.6px 3.6px rgba(0, 0, 0, 0.07);
      border-radius: 6px 6px;
      display: flex;
      transform: scale(50%);
      &::before {
        content: "";
        height: 1px;
        width: 35%;
        left: 587px;
        top: 50%;
        position: absolute;
        border-top: 2px dashed rgb(19, 19, 19);
      }
      &::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 18px;
        left: 781px;
        top: 40%;
        border-radius: 100%;
        background-color: #000;
      }

      .class-txts {
        p {
          font-family: "CiscoSans";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 35px;
          background: linear-gradient(270deg, #16263f 34.66%, #283a54 98.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        h4 {
          font-family: "CiscoSans";
          font-style: normal;
          font-weight: 350;
          font-size: 18px;
          line-height: 26px;
          background: linear-gradient(270deg, #16263f 34.66%, #283a54 98.81%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 12px;
      /* identical to box height, or 133% */
      margin-bottom: 5px;
      letter-spacing: 0.0025em;

      /* Grey/70 */

      color: #5a5b6a;
      margin-bottom: 5px;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      /* or 120% */

      letter-spacing: 0.0025em;

      /* Neutral/900 */

      color: #484851;
    }
  }
}

// Text Api Ended

.box-acc {
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15.1481px;
    line-height: 27px;
    /* identical to box height, or 178% */

    letter-spacing: 0.0025em;

    /* Grey/100 */

    color: #292a31;
  }
}
.box-acc .accordion .accordion__title {
  font-family: "CiscoSans";
  font-style: normal;
  font-weight: 400;
  font-size: 17.0416px;
  line-height: 24px;
  /* or 141% */
  margin-bottom: 0;
  display: flex;
  align-items: center;

  /* Grey/90 */

  color: #3a3a44;
}

//footer css started
.footer {
  display: flex;
  padding: 1% 3%;
  bottom: 0;
  background: #0d274d;
  justify-content: flex-end;
  width: 100%;
  z-index: 999;
  .backButton {
    height: 38px;
    cursor: pointer;
    background: #0d274d;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: white;
    padding: 0 3%;
  }
  .nextButton {
    padding: 0 3%;
    cursor: pointer;
    color: #f7f7f7;
    margin-left: 1%;
    height: 38px;
    border: none;
    background: #007aa3;
    border-radius: 30px;
  }
}
//footer css ended
// Gobals Css
.justify-between {
  justify-content: space-between;
}

.acc-content {
  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* or 126% */

    letter-spacing: 0.0025em;

    /* Grey/70 */

    color: #5a5b6a;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 145% */

    letter-spacing: 0.0025em;
    width: 75%;
    /* Neutral/900 */

    color: #484851;
  }
}

.acc-border-bootom-1 {
  .accordion {
    border-bottom: 1px solid #e7e7ed;
    margin-bottom: 10px;
  }
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.ScaleCard {
  transform: scale(180%) !important;
  z-index: 10;
}
.ScaleCard-Close {
  transform: scale(100%) !important;
  z-index: 1;
}
.blur-on {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  pointer-events: none;
}
.blur-off {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.mouse-pointer {
  cursor: pointer;
}
.btn-defult:hover {
  background: #007aa3 !important;
  color: #fff !important;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.ps-1 {
  padding-left: calc(45px - 12px) !important;
}
.Skeleton_img {
  width: 40px;
  height: 40px;
}
.mb-1 {
  margin-bottom: 0.625rem;
}
.rotate-180 {
  transform: rotate(180deg);
}
.container {
  max-width: 1580px;
  margin: 0 auto;
}
.border-left-1 {
  border-left: 1px solid #e7e7e7;
}
.transition-rotate {
  transition: transform 0.3s ease;
}

.rotate-90 {
  transform: rotate(-90deg);
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justfy-center {
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row-column-md-reverse {
  flex-direction: column-reverse;
}
.col-md-8 {
  padding: 0px 0.75rem;
  width: 80%;
}
.col-md-7 {
  padding: 0px 0.75rem;
  width: 60%;
}
.col-md-5 {
  padding: 0px 0.75rem;
  width: 40%;
}
.col-md-4 {
  width: calc(100% - 80%);
  padding: 0px 0.75rem;
}
.col-12 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.col-md-3 {
  width: 15%;
  padding: 0px 0.75rem;
}
.col-md-33 {
  padding: 0px 0.75rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-md-6 {
  padding: 0px 0.75rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mb-3 {
  margin-bottom: 1.5rem;
}

// accordion section

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #fff;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "CiscoSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  /* Gray / 90 */

  color: #292a31;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  padding: 10px 28px;
  /* Text + Icon/primary */

  color: rgba(18, 18, 63, 0.87);
}
.accordion__subtitle {
  font-family: "CiscoSans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  /* identical to box height, or 200% */

  /* Gray / 60 */

  color: #5a5b6a;
}
.justify-start {
  justify-content: flex-start !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.w-100 {
  width: 100%;
}
.m-auto {
  margin: auto;
  display: block;
}
.justfy-center {
  justify-content: center;
}
// media

@media (max-width: 1147px) {
  .col-md-33 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    max-width: 46%;
  }
}
@media (max-width: 897px) {
  .col-md-33,
  .col-md-4,
  .col-md-8,
  .col-md-5,
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .instantPOV .All_Modules,
  .instantPOV .All_Modules .input-group,
  .instantPOV .All_Modules .input-group .form-input {
    width: 100%;
  }
  .mobile_d-none {
    display: none;
  }
  .instantPOV .heading .text {
    width: 100%;
  }
}
